@import "variable";
.bonds-wrap-page{
    display: flex;
    background: #FFFFFF;

    .menu-col{
        width: 280px;
        transition: .3s ease all;
        .bonds-menu{
            background: $color-primary;
            padding: 33px 30px 30px;

            position: sticky;
            top: 0;
            z-index: 9;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__logo{
                text-align: center;
                img{
                    height: 38px;
                    width: auto;
                }
                .toggle-menu-mobile{
                    display: none;
                }
            }

            &__nav{
                margin-top: 73px;
                display: block;
                .item{
                    display: block;
                    width: 100%;
                    padding: 16px 19px 15px;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: .3s ease all;
                    &:not(:last-child){
                        margin-bottom: 18px;
                    }
                    &.current, &:hover{
                        background-color: $color-secondary;
                        color: $color-primary;
                    }
                }
            }

            &__bottom{
                margin-top: 132px;
                &__secured{
                    padding: 19px 23px;
                    background: #F4FBFF;
                    border-radius: 10px;
                    .title-secured{
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 16px;
                        color: $color-primary;
                        margin: 0;
                    }
                    .list-img{
                        display: flex;
                        align-items: center;
                        margin-top: 16px;
                        img{
                            display: block;
                            &:not(:first-child){
                                margin-left: 20px;
                            }
                        }
                    }
                }

                &__tips{
                    margin-top: 23px;
                    background: #F5AF02;
                    border-radius: 10px;
                    padding: 24px 22px;
                    .icon{
                        display: block;
                    }
                    .title{
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 16px;
                        color: #FFFFFF;
                        margin: 10px 0 0;
                    }
                    .content{
                        margin-top: 20px;
                        color: #ffffff;
                        * {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                            color: #FFFFFF;
                        }
                        p{
                            margin-bottom: 16px;
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }

            }
        }

        @media (max-width: 1200.98px){
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 6;
            overflow: auto;
            &.active{
                height: 100vh;
                overflow: auto;
                .bonds-menu{
                    height: 100%;
                    justify-content: initial;
                    overflow-y: auto;
                    &__bottom{
                        display: block;
                    }
                }
            }
            .bonds-menu{
                min-height: initial;
                padding: 0;
                &__nav, &__bottom{
                    display: none;
                }
                &__logo{
                    position: relative;
                    padding: 29px 30px 29px;
                    .toggle-menu-mobile{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        cursor: pointer;

                        position: absolute;
                        top: calc(50% - 16px);
                        right: 30px;
                        img{
                            height: auto;
                            max-width: 100%;
                        }
                        .expanded{
                            display: none;
                        }
                        &.active{
                            .collapsed{
                                display: none;
                            }
                            .expanded{
                                display: block;
                            }
                        }
                    }
                }
                &__nav{
                    max-width: 432px;
                    width: 100%;
                    padding: 0 16px;
                    margin-top: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
                &__bottom{
                    margin-top: 48px;
                    width: calc(100% - 128px);
                    margin-left: auto;
                    margin-right: auto;
                    padding-bottom: 24px;
                    &__secured, &__tips{
                        max-width: 400px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }

        @media (max-width: $scr-mb){
            .bonds-menu{
                &__logo{
                    padding: 20px 16px;
                    .toggle-menu-mobile{
                        right: 16px;
                    }
                }
                &__nav{
                    .item{
                        padding: 11px 19px 10px;
                        &:not(:last-child){
                            margin-bottom: 12px;
                        }
                    }
                }
                &__bottom{
                    margin-top: 24px;
                    width: calc(100% - 32px);
                }
            }
        }

    }

    .content-col{
        width: calc(100% - 280px);

        .top-bar{
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 28px 78px 28px 57px;
            background: #FFFFFF;
            box-shadow: 10px 5px 25px 5px rgba(0, 0, 0, 0.04);
            &__heading {
                width: calc( 100% - 186px );
                padding-right: 24px;
                h2{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    color: #11175D;
                    margin: 0;
                }
            }

            &__account{
                width: 186px;
                &--login a{
                    min-width: 92px;
                    min-height: initial;
                    padding: 15px 31px;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    color: #FFFFFF;
                }
                &--logged{
                    display: flex;
                    align-items: center;
                    padding: 6px 0px;
                    .notification{
                        position: relative;
                        width: 32px;
                        height: 32px;
                        .new-notifi{
                            width: 8px;
                            height: 8px;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    .info-user{
                        display: flex;
                        align-items: center;
                        padding-left: 12px;
                        .thumb-user{
                            width: 32px;
                            height: 32px;
                            display: block;
                        }
                        &__wrap{
                            padding-left: 9px;
                            position: relative;
                            display: flex;
                            align-items: center;
                            cursor: default;
                            .meta{
                                padding-right: 22px;
                                .name{
                                    font-weight: 700;
                                    font-size: 12px;
                                    line-height: 14px;
                                    color: #000000;
                                }
                                .company{
                                    font-weight: 400;
                                    font-size: 10px;
                                    line-height: 12px;
                                    color: #C4C4C4;
                                    margin-top: 1px;
                                }
                            }
                            .toggle-info{
                                width: 8px;
                                height: 8px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }

        .bonds-body-wrap{
            .wrap-template{
                padding: 0 67px;
            }
            .bonds-warning{
                background: #EE1F45;
                padding: 14.5px 57px;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }

            form{
                .template-form{
                    .title{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 21px;
                        color: #11175D;
                    }
                    .col-two-field{
                        margin-top: 53px;
                        display: flex;
                        flex-wrap: wrap;
                        .bonds-field {
                            position: relative;
                            label{
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 16px;
                                letter-spacing: 0.1em;
                                color: #000000;
                                position: absolute;
                                left: 35px;
                                top: -7px;
                                background: #ffffff;
                                padding: 0 15px;
                                z-index: 2;
                            }
                            .custom-select-wrap{
                                cursor: pointer;
                                display: inline-block;
                                position: relative;
                                font-size: 14px;
                                line-height: 16px;
                                letter-spacing: 0.1em;
                                color: #000000;
                                height: 73px;
                                width: 100%;

                                .select-hidden{
                                    visibility: hidden;
                                    padding-right: 10px;
                                }
                                .custom-select{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    border: 1px solid $color-primary;
                                    background: #fff;
                                    border-radius: 10px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    display: block;
                                    vertical-align: middle;
                                    padding: 28px 50px;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 16px;
                                    letter-spacing: 0.1em;
                                    color: #000000;

                                    &:after{
                                        content: "";
                                        width: 12px;
                                        height: 12px;
                                        background-image: url(../images/icons/ic_select.svg);
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        background-size: contain;
                                        top: 30px;
                                        right: 24px;
                                        transition: ease .25s all;
                                    }
                                }
                                .options{
                                    display: none;
                                    position: absolute;
                                    top: 56px;
                                    right: 12px;
                                    left: 12px;
                                    width: calc(100% - 24px);
                                    z-index: 999;
                                    margin: 0;
                                    padding: 0;
                                    list-style: none;
                                    border: 1px solid #fbfbfb;
                                    background-color: #fff;
                                    box-shadow: #00000029 0 3px 6px;
                                    li{
                                        margin: 0;
                                        padding: 12px 22px;
                                        border-bottom: 1px solid rgba(112,112,112,.11);
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 16px;
                                        letter-spacing: 0.1em;
                                        color: #000000;
                                        &.selected{
                                            background: #294AA2;
                                            color: #ffffff;
                                        }
                                        &:hover{
                                            background: #294AA2;
                                            color: #ffffff;
                                        }
                                    }
                                }
                            }
                        }
                        .col-2{
                            width: calc(100% / 2 - 37.5px);
                            &:last-child{
                                margin-left: 75px;
                            }
                        }
                    }

                    .rt-buttons-controls{
                        margin-top: 36px;
                        &.multi{
                            display: flex;
                            align-items: center;
                        }
                    }

                    .template-view{
                        margin-top: 56px;
                        table{
                            thead th{
                                color: #000000;
                                &:first-child{
                                    padding: 0;
                                    width: 54px;
                                }
                                &#jobStatus{
                                    cursor: pointer;
                                    span{
                                        display: flex;
                                        align-items: center;
                                        &:after{
                                            content: "";
                                            background-image: url(../images/icons/ic_select.svg);
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            background-size: contain;
                                            width: 12px;
                                            height: 12px;
                                            display: block;
                                            margin-left: 16px;
                                        }
                                    }
                                }
                            }
                            tbody tr {
                                &.clicked{
                                    background: rgba(194, 209, 217, 0.2);
                                }
                                td{
                                    input[type="checkbox"]{
                                        display: block;
                                    }
                                    &.select-item{
                                        padding: 0;
                                        .checkbox{
                                            width: 22px;
                                            height: 22px;
                                            border-radius: 5px;
                                            position: relative;
                                            margin: 0 auto;
                                            input{
                                                margin: 0;
                                                width: 22px;
                                                height: 22px;
                                                opacity: 0;
                                                z-index: 3;
                                                position: relative;
                                                cursor: pointer;
                                                &:checked~label::before{
                                                    border-color: #294AA2;
                                                    background: #294AA2;
                                                    background-image: url(../images/icons/checked.svg);
                                                    background-size: 70%;
                                                    background-repeat: no-repeat;
                                                    background-position: center;
                                                }
                                            }
                                            label{
                                                position: absolute;
                                                left: 0;
                                                top: 0;
                                                z-index: 2;
                                                &:before{
                                                    width: 22px;
                                                    height: 22px;
                                                    background: transparent;
                                                    margin: 0;
                                                    outline: none;
                                                    border: 1px solid #C2D1D9;
                                                    border-radius: 5px;
                                                    cursor: pointer;
                                                }
                                            }
                                        }
                                    }
                                    &.job_status{
                                        color: #000000;
                                    }
                                    &.select_permanent{
                                        .custom-select-wrap{
                                            position: relative;
                                            height: 35px;
                                            width: 127px;
                                            margin: 0 auto;
                                            .select-hidden{
                                                visibility: hidden;
                                            }
                                            .custom-select{
                                                position: absolute;
                                                background: #294AA2;
                                                top: 0;
                                                right: 0;
                                                bottom: 0;
                                                left: 0;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                                display: block;
                                                vertical-align: middle;
                                                border-radius: 5px;
                                                font-weight: 400;
                                                font-size: 14px;
                                                line-height: 16px;
                                                letter-spacing: 0.1em;
                                                color: #ffffff;
                                                padding: 10px 23px;
                                                text-align: center;
                                                cursor: pointer;
                                                &.changed{
                                                    background: #F5AF02;
                                                }
                                                &:after{
                                                    content: "";
                                                    width: 9px;
                                                    height: 9px;
                                                    background-image: url(../images/icons/select-w.svg);
                                                    background-repeat: no-repeat;
                                                    position: absolute;
                                                    background-size: contain;
                                                    top: 14px;
                                                    right: 5px;
                                                    transition: ease .25s all;
                                                }
                                            }
                                            .options{
                                                display: none;
                                                list-style: none;
                                                margin: 0px;
                                                padding: 0px;
                                                position: absolute;
                                                background: rgb(255, 255, 255);
                                                width: 100%;
                                                box-shadow: #00000029 0px 3px 6px;
                                                z-index: 999;
                                                top: 30px;
                                                left: 0;
                                                li{ 
                                                    cursor: pointer;
                                                    padding: 8px;
                                                    font-weight: 400;
                                                    font-size: 14px;
                                                    line-height: 16px;
                                                    letter-spacing: 0.1em;
                                                    color: #000000;
                                                }
                                            }
                                        }
                                    }
                                    &.remove-item{
                                        text-align: center;
                                        &.hide a{
                                            opacity: 0;
                                            visibility: hidden;
                                        }
                                        img{
                                            min-width: 24px;
                                            width: 24px;
                                            height: 24px;
                                            object-fit: cover;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .st-bonds-buttons{
                        display: flex;
                        margin-top: 56px;
                        a:not(:first-child){
                            margin-left: 34px;
                        }
                    }
                }
            }
        }

        @media (max-width: 1200.98px){
            width: 100%;
            padding-top: 100px;
            .top-bar{
                padding: 12px 29px;
            }
            .bonds-body-wrap {
                .bonds-warning{
                    padding: 14.5px 29px;
                }
                .wrap-template{
                    padding: 0 29px;
                    .manage-job{
                        margin-top: 56px;
                    }
                }
                form .template-form .col-two-field{
                    margin-top: 32px;
                    .col-2{
                        width: calc(100% / 2 - 25px);
                        &:last-child{
                            margin-left: 50px;
                        }
                    }
                }
            }
        }
        @media (max-width: $scr-sm-tablet){
            .bonds-body-wrap {
                .bonds-warning{padding: 12px 16px;}
                form .template-form .col-two-field {
                    .bonds-field label{
                        padding: 0 8px;
                    }
                }
            }
        }
        @media (max-width: $scr-mb){
            padding-top: 82px;
            .top-bar{ 
                padding: 12px 16px;
            }
            .bonds-body-wrap {
                .wrap-template{
                    padding: 0 16px;
                }
                form .template-form {
                    .col-two-field {
                        .col-2{
                            width: calc(100% / 2 - 16px);
                            &:last-child{
                                margin-left: 32px;
                            }
                        }
                        .bonds-field {
                            label{
                                left: 16px;
                                font-size: 13px;
                            }
                            .custom-select-wrap {
                                height: 48px;
                                .custom-select{
                                    padding: 22px 24px;
                                    display: none;
                                    &:after{
                                        top: 24px;
                                    }
                                }
                                .select-hidden{
                                    visibility: visible;
                                    border: 1px solid #294AA2;
                                    border-radius: 10px;
                                    outline: none;
                                    width: 100%;
                                    padding: 15px 24px;
        
                                    -moz-appearance:none; /* Firefox */
                                    -webkit-appearance:none; /* Safari and Chrome */
                                    appearance:none;
                                    font-size: 14px;
                                    line-height: 16px;
                                    font-weight: 400;
                                    letter-spacing: 0.1em;
                                    color: #000000;
        
                                    background-image: url(../images/icons/ic_select.svg);
                                    background-repeat: no-repeat;
                                    background-position: 95% center;
                                    background-size: 12px;
                                }
                            }
                        }
                    }
                    .st-bonds-buttons{
                        margin-top: 32px;
                    }
                }
            }
        }
        @media (max-width: 599.98px){
            .top-bar{
                align-items: flex-start;
                &__heading {
                    width: calc(100% - 95px);
                    h2{
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                &__account{
                    width: 95px;
                    &--logged {
                        padding: 0;
                        .info-user__wrap .meta {
                            display: none;
                        }
                    }
                }
            }
            .bonds-body-wrap{
                .wrap-template .manage-job{
                    margin-top: 48px;
                }
                form {
                    .template-form .col-two-field{
                        flex-direction: column;
                        .col-2{
                            width: 100%;
                            &:last-child{
                                margin-left: 0;
                                margin-top: 32px;
                            }
                        }
                    }
                    .st-bonds-buttons a{
                        &:not(:first-child){
                            margin-left: 24px;
                        }
                    }
                }
            }
        }
        @media (max-width: 424.98px){
            .bonds-body-wrap {
                form {
                    .template-form {
                        .rt-buttons-controls{
                            margin-top: 24px;
                            &.multi{
                                flex-direction: column;
                                align-items: flex-start;
                                .cta-button.yellow{
                                    margin-left: 0;
                                    margin-top: 16px;
                                }
                            }
                        }
                        .st-bonds-buttons a{
                            &:not(:first-child){
                                margin-left: 24px;
                            }
                        }
                    }
                    .template-view{
                        margin-top: 48px;
                    }
                }
            }
        }
    }
}