@import "variable";

.first-screen-page{
    background-image: linear-gradient(0deg, 
                                    rgba(245, 175, 2, 0.75) 24.74%, 
                                    rgba(245, 175, 2, 0) 100%),
                                    url(../images/bg-first-scr.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 110px 0 105px;
    min-height: calc( 100vh + 100px );
    .notification-popup{
        max-width: 565px;
        margin: 0 auto;
        background: $color-primary;
        opacity: 0.9;
        border-radius: 20px;
        padding: 45px;
        position: relative;
        .ic-close{
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
        .heading{
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            color: #FFFFFF;
            margin: 0;
        }
        .content{
            margin-top: 28px;
            p{ 
                color: #FFFFFF;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                margin-bottom: 21px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .notes{
            background: #FFFFFF;
            border-radius: 10px;
            padding: 16px 51px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $color-primary;
            margin-top: 50px;
        }
    }

    @media (max-width: 1200.98px){
        min-height: calc(100vh + 100px );
    }
    @media (max-width: $scr-mb){
        padding: 48px 16px;
        min-height: calc( 100vh - 150px);
        display: flex;
        align-items: center;
        justify-content: center;
        .notification-popup {
            padding: 32px;
            .notes{
                margin-top: 24px;
            }
            .ic-close{
                top: 10px;
                right: 10px;
            }
            .heading{
                font-size: 28px;
                line-height: 36px;
            }
            .content{
                margin-top: 24px;
            }
            .notes{
                padding: 12px 24px;
            }
        }
    }
    @media (max-width: 599.98px){
        min-height: calc( 100vh - 150px);
        .notification-popup{
            padding: 24px;
            .heading{
                font-size: 24px;
                line-height: 32px;
            }
            .content p{
                margin-bottom: 12px;
            }
            .notes{
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    
}

.content-body-booking{
    padding: 13px 0 32px;

    .wrap-template{
        .manage-job{
            margin-top: 80px;
        }
        .rt-buttons-controls.multi{
            .cta-button.yellow{
                margin-left: 34px;
            }
        }
    }
    @media (max-width: $scr-mb){
        .wrap-template .rt-buttons-controls{
            &.multi {
                .cta-button.yellow{
                    margin-left: 24px;
                }
            }
        }
    }
    @media (max-width: 599.98px){
        
    }
}