/* Fonts */
$font-primary: "Roboto",sans-serif;

/* Color */
$color-primary: #294AA2;
$color-secondary: #F5AF02;

/* Break point */
$scr-tablet: 1024px;
$scr-sm-tablet: 992px;
$scr-mb: 767.98px;
$scr-mb-small: 480px;
